h1{
    color: #013426;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 1px 2px 1px #8d8f8f;
    background-color: #ecedee;
}

body{
    background-color: #f5fcff;
    color: maroon;
    display: block;
    margin: 50px;
    font-family: 'Geneva';
}

#weatherInfo{
    color: #000e52;
    width: 54%;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 1px 2px 1px #8d8f8f;
    background-color: #f6f9ff;
    font-size: 20px;
}

/* use hashtag to reference elements by their id */
/* full stop is for classes */

.mapcontainer{
    display: flex; 
}

.imagecontainer{
    position: relative;
}


.left{
    top: 200px;
    position: absolute;
}

#pin{
    width: 25px;
    height: auto; 
    display: none;
    position: absolute;
}
#forecast_station{
    position:absolute;
    left: 400px;
    bottom: 130px;
    display: none;
}

#forecast_image{
    position: absolute;
    border-radius: 10px;
    margin-bottom: 6px;
    margin-right: 2px;
    width: 30%;
    height: auto;
    right: 0;
    bottom: 0;
}

.right{
    position: absolute;
    top: 200px;
    right: 30px;
    margin-left: 10px;
    columns: 2;
    column-gap: 15px;
    font-size: 18px; 
}

#weatherlabels{
    line-height: 26px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 1px 2px 1px #8d8f8f;
    background-color: #f6f9ff;
}

.label{
    position: absolute;
    font-size: 18px;
    color: red;
    font-weight: bold;
    opacity: 0;
    transition: opacity 3s ease;
}

.label.fade-in {
    opacity: 1;
  }

::selection{
    background-color: aquamarine;
}

#map_image{
    width: 553px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #969a9c;
}

.updatecontainer{
    padding: 10px;
    columns: 2;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #969a9c;
    background-color: #f6f9ff;
}

#timelabels{
    font-size: 20px;
}
#refreshButton{
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #969a9c;
}