h1{
    color: #013426;
}

body{
    background-color: #dcf5fd;
    color: maroon;
    display: block;
    margin: 50px;
    font-family: Cambria;
}


button{
    padding: 3px 10px;
    border-color: green;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

form{
    float: inline-end
}

/* use hashtag to reference elements by their id */
#log{
    color: teal;
    font-size: 24px;        
    
}

::selection{
    background-color: aquamarine;
}

#weatherInfo{
    font-size: 20px;
}
